<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.univag.sisclinic" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SIS Clinic</name>
    <description>
        Programação Radical 2016.
    </description>
    <author email="fernando@ndcreative.com.br" href="http://www.ndcreative.com.br">
        Sis Loucos
    </author>
	<preference name="Orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" /> 
	<access origin="*" subdomains="true" />
	<access origin="*" launch-external="yes" /> 
</widget>
